i*.o
*.obj
*.lo
*.a
*.so
*.so.*
*.dylib
*.dll
*.lib
*.exp
a.out
*.out
*.bin
*.run
*.exe
*.elf
build/
Debug/
Release/
out/
obj/
bin/
lib/
dist/
*.build/
*.d
*.d.*
*.dep
*.depend
*.gcno
*.gcda
*.gcov
gmon.out
*.prof
*.lprof
*.dSYM/
*.su
*~
*.swp
*.swo
*.bak
*.tmp
*.temp
\#*\#
.\#*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
CMakeUserPresets.json
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
stamp-h1
libtool
ltmain.sh
m4/
*.m4
configure
missing
depcomp
install-sh
docs/html/
docs/latex/
*.lock
core
*.core
*.vim
